li * {    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  list-style-image: url("https://raw.githubusercontent.com/developer-vs/activities_images/master/images/my_triangle.png");
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  color: #8B0000;  
}
