body {
  margin: 0px;
  padding: 0px;
  color: #2f3432;
  font-size: 120%;
}

.steps {
  line-height: 1.6em;
}

p {
  line-height: 1.6em;
}

nav {
  background: #6a5750;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 2em;
  padding: 10px 40px;
}

a {
  color: #f6f1ed;
  text-decoration: none;
  font-size: 1.2rem;
}

img {
  width: 380px;
  border: 1px solid #b5a397;
  padding: 2px;
}

article {
  margin: 0px 40px;
}

h1 {
  text-align: center;
  background: #30231d;
  color: white;
  padding: 6px;
  margin: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  min-width: 520px;
}

h2 {
  padding-top: 40px;
  color: #6a5750;
  font-size: 1.7em;
}

h3 {
  padding-top: 20px;
  color: #b5a397;
}

nav.main_nav li:hover a {
  color: #000000;
}

nav.main_nav li:hover {
  background: #f6f1ed;
}

.main_nav {
  display: none;
  margin-top: calc(2em + 18px);
}

.main_nav:hover {
  display: block;
}

#access_nav:hover ~ .main_nav {
  display: block;
}

#access_nav:focus ~ .main_nav {
  display: block;
}

#access_nav {
  background-image: -webkit-repeating-linear-gradient(
    #fff,
    #fff 3px,
    #30231d 2px,
    #30231d 8px
  );
  background-image: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #30231d 2px,
    #30231d 8px
  );
}

.access_nav_design {
  display: block;
  position: fixed;
  top: 0;
  left: 30px;
  width: 2em;
  height: 2em;
  overflow: hidden;
  background: #30231d 50% 50% / 30px 20px no-repeat;
  padding: 9px;
}

table,
th,
td {
  border: 2px solid #ffffff;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 14px;
  text-align: center;
}

th {
  background: #6a5750;
  color: #ffffff;
  border-bottom: 6px solid #ffffff;
}

tr:nth-child(odd) {
  background: #d5dcee;
}

tr:nth-child(even) {
  background: #ebeef6;
}

tr:hover {
  background: #f6f1ed;
}
.col {
  width: 33.33%;
}
